.card-main
{
    margin-bottom: 20px
}
.card{
    background-color: lightgreen;
    text-align: left;
    padding: 10px;
    height: 100%;
   
}

.card-text
{
    text-transform: capitalize;
}
.button-container
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.not-completed{
    background-color: red;
    color: white;
}
.completed{
    background-color: green;
    color: white;
}
.edit-button
{
    margin-right: 5px;
}